# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.pytest_cache/
*.body

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & Secrets
.env
.env.local

# Database & Storage
*.sqlite
dataset/
*.log

# IDEs
.vscode/
.idea/
*.swp
